@font-face {
    font-family: 'Wallpoet';
    src: url('font/Wallpoet-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
   
}
@font-face {
    font-family: 'Tourney';
    src: url('font/Tourney-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'PressStart2P';
    src: url('font/PressStart2P-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
   
}
@font-face {
    font-family: 'Jaldi';
    src: url('font/Jaldi-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
   
}
button{
    background-color: #3E9647;  
    border-radius: 10px; 
    width: 100px; 
    height: 40px;
    border: solid 1px black ;
}
p{
    font-family: 'Jaldi';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.red-bg{
    background :red
}
.blue{
    background :blue
}
h1{
    font-family: 'Jaldi';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}